<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="tests" >

<test thread-count="1" name="ChromeTest">

<parameter name="browser" value="chrome" />

<classes>

<class name="scripts_Selenium.CrossBrowserTesting"></class>

</classes>

</test>

<!-- <test name="FirefoxTest">

<parameter name="browser" value="firefox" />

<classes>

<class name="scripts_Selenium.CrossBrowserTesting">

</class>

</classes>

</test> -->



</suite>